canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  color: white;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}
p, span, a {
  font-family: 'Raleway', sans-serif;
}

#mouse {
  position: relative;
  animation-name: mouse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes mouse {
  0%{bottom: 0px;}
  40%{bottom: 10px;}
  100%{bottom: 0px;}
}

#cur {
  width: 3px;
  background-color: white;
  animation: cur 1s;
  animation-iteration-count: infinite;
}
@keyframes cur {
  0%{opacity: 0%;}
  50%{opacity: 100%;}
  100%{opacity: 0%;}
}

.button {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 10px;
}

#at {
  line-height: 40px;
}