/* The animation code */
@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 100;}
  }
  
/* The element to apply the animation to */
body {
  animation-name: example;
  animation-duration: 1s;
  }

  h2 {
    padding: 7px;
    text-align: center;
    border: 1px solid #ccc!important;
    padding: 0.01em 18px;
    border-radius: 100px;
    width: 90%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}